<div class="share-article">
    Share this on &rarr;

    <a href="https://twitter.com/intent/tweet?text={{ page.url | absolute_url | url_encode }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="noopener noreferrer" target="_blank" title="Share on Twitter">
    	<i class="icon-twitter"></i>
    </a>

    <a href="https://facebook.com/sharer.php?u={{ page.url | absolute_url | url_encode }}" rel="noopener noreferrer" target="_blank" title="Share on Facebook">
    	<i class="icon-facebook"></i>
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" rel="noopener noreferrer" target="_blank" title="Share on Linkedin">
    	<i class="icon-linkedin"></i>
    </a>

</div>