/* Error: Undefined variable.
 *    ,
 * 82 |     @return val($palette, $keys...);
 *    |                 ^^^^^^^^
 *    '
 *   sass/libs/_functions.scss 82:14  -palette()
 *   sass/base/_page.scss 37:15       @import
 *   sass/main.scss 30:10             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 82 \2502      @return val($palette, $keys...);\d\a    \2502                  ^^^^^^^^\a    \2575 \a   sass/libs/_functions.scss 82:14  -palette()\a   sass/base/_page.scss 37:15       @import\a   sass/main.scss 30:10             root stylesheet";
}
