
#article_post{

	max-width: 50em;
	margin: auto;

	h2{
		line-height: 1.2;
	}

	a{
		color: _palette(accent3);
		border-color: _palette(accent3);
		&:hover{
			color: _palette(accent3-alt);
			border-color: _palette(accent3-alt);
		}
	}

	.duration{
		white-space: nowrap;
	}

	figure{

		display: inline-block;

		.article-image{
			width: 100%;
			margin: auto;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}

		.article-image-caption{
			text-align: center;
			font-size: 80%;
			margin-bottom: 1em;
			color: _palette(fg-light);
			line-height: 1.5;
		}

		.article-image-2{
			max-width: 100%;
			margin: auto;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}
	}


	.share-article{
		margin-bottom: 1em;
		a {
			border-bottom: none;
		}
	}

	.article-info{
		padding-bottom: 1em;
	}
}