---
layout: default
# The posts' layout
---
<body class="is-preload">

	{% include header.html %}

	<div id="article_post">
		<section class="wrapper">
			<div class="inner">
				{{content}}
				{% include social_share.html %}
			</div>
		</section>

		<!-- Disqus code -->
		{% if page.comments %}
		<section class="wrapper">
			<div class="inner">
				{% include disqus.html %}
			</div>
		</section>
		{% endif %}
		<!-- Disqus code end-->

	</div>
	    <!-- Footer -->
    {% include footer.html %}
</body>
